$item-section-color: lightcyan;
$item-product-color: lightblue;
$item-category-color: lighten(orange, 20%);
$item-link-color: bisque;

#app {
  .form-row {
    padding-bottom: calc(.25rem + 1px);
    label {
      margin-bottom: 0;
    }
    .form-row {
      padding-bottom: 0;
    }
    select + .alert {
      margin-top: 0 !important;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-bottom: 0 !important;
    }
  }

  select {
    option.inactive {
      background-color: lightgray;
    }
  }

  .products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1rem;

    .product {
      padding: 0.25rem;
      flex: 0 1 33.333%;
      color: lightgray;
      font-size: .875rem;


      &.active {
        color: black;
      }

      .product-stuff {
        padding: 0.25rem;
        border: 1px lightgray solid;
        border-radius: 3px;
        display: flex;
        flex-direction: row;

        .img-container {
          flex: 1 0 50%;
        }
        .info-container {
          flex: 1 0 50%;
          padding-left: 0.25rem;
        }
      }

    }
  }

  .sortable-item-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;

    .sortable-item {
      flex: 0 0 auto;
      border: 1px solid lighten(black, 10%);
      border-radius: 3px;
      //padding: 0.5rem;
      margin: 0.1rem 0;
      text-align: center;
      color: var(--bs-body-color);
      font-size: small;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media (prefers-color-scheme: dark) {
        border-color: var(--bs-border-color);

      }

      > .item-title {
        padding-left: 1rem;
        text-align: left;
        flex: 1 1 auto;
      }

      > button {
        flex: 0 0 auto;
        border-radius: 0;
        border-width: 0;
        border-left-width: 1px;
      }

      &.menu-item {
        background-color: $item-link-color;
      }

      .btn-light {
        border-color: grey;
      }

      &.inactive {
        color: black;
        background-color: lighten(black, 75%);
        //border-color: red;
        a {
          color: black;
        }
      }
    }
  }

  .btn-group {
    &.item-types {
      .btn-secondary,
      .btn-outline-secondary:hover {
        color: black;
        &.section {
          background-color: $item-section-color;
        }

        &.product {
          background-color: $item-product-color;
        }

        &.category {
          background-color: $item-category-color;
        }

        &.link {
          background-color: $item-link-color;
        }
      }
    }
  }
}

