.sortable-item {
  width: calc(20% - 0.5rem);
  min-height: 150px;
  flex: 0 0 auto;
  border: 1px solid var(--bs-border-color);
  border-radius: 3px;
  margin: 0.25rem;
  text-align: center;
  color: black;
  font-size: small;

  .btn-light {
    border-color: var(--bs-btn-border-color);
  }
  &.inactive {
    color: black;
    background-color: lighten(black, 50%);
    //border-color: red;
    button {
      background-color: lighten(black, 33.333%);
    }
    img {
      filter: grayscale(50%) brightness(80%);
    }
    a {
      color: lighten(black, 50%);
    }
  }

  &--edit-button {
    width: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.section {
    background-color: var(--item-section-color);
    font-weight: bold;
  }

  &.product {
    background-color: var(--item-product-color);
  }

  &.category {
    background-color: var(--item-category-color);
  }

  &.link {
    background-color: var(--item-link-color);
  }

  &-padding {
    padding: 0.5rem;
  }
}
